* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "./lib/keyframes.scss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #242424;
}



::-webkit-scrollbar-thumb {
  background: rgb(83, 81, 81);
  border-radius: 10px;
}

body {
  font-family: 'Roboto Mono', monospace;
  overflow-x: hidden;
}

#top {
  width: 100vw;
  height: 100vh;
  background-color: #242424;
  color: white;
  padding: 17rem 2rem;
  font-family: 'Roboto Mono', monospace;

  span {
    color: wheat;
  }

  h1 {
    position: relative;
    font-size: 6rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    animation: animated-text 2s steps(18, end) 0s 1 normal both,
      animated-cursor .7s steps(18, end) 10;
    z-index: 1;
  }

  h3 {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    max-width: 40rem;
    margin-top: 2rem;
    margin-left: .2rem;
    color: rgba(255, 255, 255, .70);
    opacity: 0;
    animation: slideIn 1s .5s forwards;
    z-index: 1;
  }



  .logo {
    position: absolute;
    right: 3rem;
    bottom: 1rem;
    width: 100px;
    height: 70px;
    background-image: url("../assets/ROGR.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    z-index: 1;
  }

  .aButton {
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 5rem;
    height: 5rem;
    transform: translate(-30%, 30%);
    z-index: 1;
  }

  a {
    position: relative;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    color: wheat;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    left: 50%;
    bottom: 10%;
    text-align: center;
    border-radius: 50%;
    animation: pulse 1s 3s infinite;
    border: 1px solid white;
    z-index: 1;
  }

  .spawnedInput {
    position: absolute;
    outline: 0;
    border: none;
    background: 0;
    color: rgba(255, 255, 255, 0.753);
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 0;
    font-family: 'Roboto Mono', monospace;
  }
}

#pageone {
  height: fit-content;
  width: 100vw;
  background-color: #242424;
  font-family: 'Roboto', sans-serif;

  .container {
    padding: 5rem 1rem;
    width: 50%;
    height: fit-content;
    margin: auto;
    color: rgb(230, 230, 230);
    line-height: 1.6;

    h1 {
      font-size: 4rem;
      font-weight: bold;
      text-align: center;
      color: wheat;
    }

    h2 {
      font-size: 2.2rem;
      font-weight: bold;
      margin: 1rem .3rem;
      color: wheat;
    }

    p {
      font-size: 1.1rem;

      a {
        color: wheat;
      }

      b {
        color: rgb(117, 112, 102);
      }
    }

    #downloadCount {
      color: wheat;
    }

    pre {

      width: 100%;
      margin: .5rem 0;

      // overflow-x: auto;
      ::-webkit-scrollbar-thumb {
        background: red;
      }

      code {
        border-radius: .3rem;
      }
    }
  }

  ul {
    position: fixed;
    color: white;
    left: 1rem;
    top: 1rem;
    list-style-type: none;
    transition: .2s ease;

    li {
      cursor: pointer;
      border-radius: .2rem;

      a {
        color: white;
        text-decoration: none;
        display: block;
        padding: .5rem;
      }

      &:hover {
        background-color: #9fabb11a;
      }
    }
  }
}

.fadeOut {
  animation: fadeOut 1s forwards;
}

.fadeIn {
  animation: fadeIn 1s forwards;
}

.active {
  background-color: #9fabb11a;
}

@media only screen and (max-width: 1350px) {

  #pageone {
    .container {
      width: 70%;
    }
  }

  #top {
    h1 {
      font-size: 4rem;
    }
  }
}

@media only screen and (max-width: 1020px) {

  #pageone {
    .container {
      margin: 0;
      position: relative;
      left: 10rem;
    }
  }

}

@media only screen and (max-width: 920px) {

  #pageone {
    .container {
      width: 100%;
    }

    ul {
      display: none;
    }

    .container {
      left: 0rem;
    }
  }

}

@media only screen and (max-width: 750px) {

  #top {
    h1 {
      font-size: 3.5rem;
      word-break: break-all;

    }

    h3 {
      font-size: 1.5rem;
    }
  }

}


@media only screen and (max-width: 500px) {
  #top {
    padding-top: 5rem;
    height: 80vh;

    h1 {
      position: relative;
      left: -1rem;
    }

    .logo {
      left: 1rem;
      top: .5rem;
    }
  }

  #pageone {

    .container {
      h1 {
        font-size: 3rem;
      }
    }
  }
}


@media only screen and (min-width: 650px) {
  #top {
    h1 {
      br {
        display: none;
      }
    }
  }


}